.panel-b {
  margin-bottom: 8px;
}

.group-files {
  margin-bottom: 8px;
  background: #212121;
  padding: 8px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  border: 2px solid white;
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: 2px;
}
.group-files:title {
  subcontrol-origin: margin;
  subcontrol-position: top left;
  padding: 0 8px;
  left: 32px;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  background: #212121;
}
.group-files__header {
  margin-top: 10px;
  min-height: 48px;
}
.group-files__header--with-scroll {
  margin-right: 16px;
}
.group-files__header .label {
  qproperty-alignment: AlignCenter;
  background: seagreen;
  color: springgreen;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
}
.group-files__header .label--file-index {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-radius: 2px;
}
.group-files__header .label--file-name {
  margin: 0px 4px;
  border-radius: 2px;
}
.group-files__header .label--file-controls {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-radius: 2px;
}
.group-files__info {
  qproperty-alignment: AlignCenter;
  min-height: 48px;
  background: midnightblue;
  color: dodgerblue;
  font-size: 24px;
  font-weight: 500;
  margin-top: 4px;
  border-radius: 4px;
}
.group-files__item {
  min-height: 48px;
}
.group-files__item--odd .label, .group-files__item--odd .panel {
  background: #424242;
}
.group-files__item--even .label, .group-files__item--even .panel {
  background: #696969;
}
.group-files__item .label {
  qproperty-alignment: AlignCenter;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.group-files__item .label--file-index {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-radius: 2px;
  font-size: 24px;
}
.group-files__item .label--file-name {
  margin: 0px 4;
  border-radius: 2px;
}
.group-files__item .panel {
  padding: 4px 16px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-radius: 2px;
}

.navigation {
  background: #696969;
  padding: 8px 8px;
  border-right: 2px solid black;
}
.navigation .nav-item {
  border-left: 8px solid #343434;
  padding: 4px;
}
.navigation .nav-item__icon {
  margin: 4px;
}
.navigation .nav-item__label {
  font-size: 24px;
  font-weight: 500;
  padding-right: 16px;
  color: #343434;
}
.navigation .nav-item--default {
  border-left: 8px solid #343434;
  background: gainsboro;
}
.navigation .nav-item--default .nav-item__label {
  color: #343434;
}
.navigation .nav-item--hovered {
  border-left: 8px solid #4169E1;
  background: white;
}
.navigation .nav-item--hovered .nav-item__label {
  color: #4169E1;
}
.navigation .nav-item--active {
  border-left: 8px solid #FF7A00;
  background: #343434;
}
.navigation .nav-item--active .nav-item__label {
  color: #FF7A00;
}

#button-add-file, #button-add-folder, #button-remove-all, #button-calculate, #button-clear, #button-copy, #button-paste, #button-export {
  background: silver;
  color: #343434;
  border: 2px solid black;
  border-radius: 4px;
}
#button-add-file:hover, #button-add-folder:hover, #button-remove-all:hover, #button-calculate:hover, #button-clear:hover, #button-copy:hover, #button-paste:hover, #button-export:hover {
  background: white;
  color: #4169E1;
  border: 2px solid #4169E1;
}
#button-add-file:pressed, #button-add-folder:pressed, #button-remove-all:pressed, #button-calculate:pressed, #button-clear:pressed, #button-copy:pressed, #button-paste:pressed, #button-export:pressed {
  background: #343434;
  color: #FF7A00;
  border: 2px solid #FF7A00;
}

.documents__control {
  border: none;
  border-top: 2px solid black;
  background: #5D5D5D;
  padding: 8px 8px;
}
.documents__header {
  background: #5D5D5D;
  border: none;
  border-bottom: 2px solid black;
  padding: 8px 8px;
}
.documents__header .label--file-name, .documents__header .label--file-index, .documents__header .label--file-controls {
  color: black;
  background: gainsboro;
  font-size: 16px;
  qproperty-alignment: AlignCenter;
}
.documents__content {
  background: #323232;
  padding: 8px;
}
.documents__item {
  color: black;
  background: gainsboro;
  font-size: 16px;
}
.documents__item--odd {
  background: #C0C0C0;
}
.documents__item .label--file-name, .documents__item .label--file-index, .documents__item .label--file-controls {
  color: black;
  font-size: 16px;
  qproperty-alignment: AlignCenter;
}
.documents QScrollArea {
  background: #323232;
}

* {
  margin: 0;
  font-family: "Titillium Web";
}

QPushButton {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
}

QScrollArea {
  background: transparent;
  border: none;
}
QScrollArea MyPanel {
  background: transparent;
}

QScrollBar:vertical {
  width: 16px;
}

.query__control {
  border: none;
  border-top: 2px solid black;
  background: #5D5D5D;
  padding: 8px 8px;
}

QTabWidget::pane {
  background-color: #f0f0f0;
}

QTabBar::tab {
  background-color: gainsboro;
  border-bottom: 2px solid #343434;
  color: #343434;
  font-size: 16px;
  padding: 8px 16px;
}

QTabBar::tab:selected {
  background-color: #343434;
  color: #FF7A00;
  border-bottom: 2px solid #FF7A00;
}/*# sourceMappingURL=styles.css.map */