.navigation
{
    background: #696969;
    padding: 8px 8px;
    border-right: 2px solid black;
    // spacing: 8px;

    .nav-item
    {
        border-left: 8px solid #343434;
        padding: 4px;

        &__icon
        {
            margin: 4px;
        }

        &__label
        {
            font-size: 24px;
            font-weight: 500;
            padding-right: 16px;
            color: #343434;
        }

        &--default
        {
            border-left: 8px solid #343434;
            background: gainsboro;

            .nav-item__label
            {
                color: #343434;
            }
        }

        &--hovered
        {
            border-left: 8px solid #4169E1;
            background: white;

            .nav-item__label
            {
                color: #4169E1;
            }
        }

        &--active
        {
            border-left: 8px solid #FF7A00;
            background: #343434;
            
            .nav-item__label
            {
                color: #FF7A00;
            }
        }

 
    }
}