$color-black: black;
$color-white: white;

$color-black-dark:          #212121;
$color-black-medium:        #343434;
$color-black-light:         #424242;

$color-gray-dark: #696969;
$color-gray-medium: gray;
$color-gray-light: #c0c0c0;

$color-white-dark: lightgray;
$color-white-medium: gainsboro;
$color-white-light: whitesmoke;

$color-red-dark: maroon;
$color-red-medium: firebrick;
$color-red-light: crimson;

$color-green-dark: seagreen;
$color-green-medium: mediumseagreen;
$color-green-light: springgreen;

$color-blue-dark: midnightblue;
$color-blue-medium: royalblue;
$color-blue-light: dodgerblue;

$color-yellow-dark: chocolate;
$color-yellow-medium: orange;
$color-yellow-light: gold;