@use "variables.scss" as vars;
@use "mixins";
@use "group-files";
@use "navigation";
@use "buttons";

// (?) spacing - The spacing property behaves differently depending on widget

*
{
    margin: 0;
    font-family: "Titillium Web";
}


QPushButton
{
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    //padding-left: 40px;
    //border: 4px dashed red;
    //background: silver;
}



#main-window
{

}

QScrollArea
{
    background:  transparent;
    border: none;
    MyPanel
    {
        background:  transparent;
    }

}


QScrollBar:vertical 
{
    width: 16px;
}

